* {
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: "Montserrat-Medium";
    src: url("/fonts/Montserrat-Medium.ttf");
}

body {
    font-family: Montserrat-Medium, serif;
    font-size: 10px;
}


/*HEADER*/
header {
    width: 100%;
    background-color: #ffb42e;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-inline: auto;
    width: 1020px;
    height: 80px;
}

.header__logo {
    width: 90px;
    height: 48px;
    margin-right: 12%;
}

.header__link {
    text-decoration: none;
    color: black;
    font-size: 1.5em;
    font-weight: bold;
}

.header__link:hover {
    color: #777777;
}


/*MAIN*/
/*PARTICIPATE*/
.block-participate {
    background-color: #e8e8e8;
    height: 630px;
}

.block-participate__img {
    height: 630px;
    position: absolute;
    right: 0;
}

.block-participate__container {
    width: 1020px;
    height: 630px;
    margin-inline: auto;
    position: relative;
    color: #322c41;
}

.block-participate__img2 {
    width: 220px;
    height: 220px;
    position: absolute;
    right: 100px;
    top: 270px;
    animation: myAnim 11s ease 1s infinite normal forwards;
}

.block-participate__img3 {
    position: absolute;
    right: 410px;
    top: 140px;
    transition: 0.5s;
    animation: myAnim 12s ease-out 1s infinite alternate both;
}

.block-participate__img4 {
    position: absolute;
    width: 421px;
    height: 423px;
    left: -240px;
    top: 440px;
    transition: 0.5s;
    animation: myAnim 9s ease-out 1s infinite alternate both;
}

.block-participate__date {
    position: absolute;
    right: 0;
    top: 72px;
    font-size: 5.6em;
    line-height: 0.7;
}

.block-participate__date span {
    font-size: 0.73em;
}

.block-participate__block-content {
    display: flex;
    text-transform: uppercase;
    flex-direction: column;
    width: 529px;
    position: absolute;
    top: 69px;
}

.block-participate__subtitle {
    font-size: 2.7em;
}

.block-participate__title {
    margin: 23px 0 0 0;
    font-size: 8.4em;
    font-weight: bold;
}

.block-participate__text {
    font-size: 2em;
    margin-top: 23px;
    text-transform: none;
}

.block-button {
    font-size: 2.9em;
    display: flex;
    width: 94%;
    height: 61px;
    margin-top: 49px;
    align-items: center;
    justify-content: space-around;
    background-color: #fbbe00;
    text-decoration: none;
    color: black;
    font-weight: bold;
    letter-spacing: 1px;
    border-radius: 40px;
}

.block-button:hover {
    background-color: #eea21c;
    color: #322c41;
}

/*MAIN*/
/*BLOCK QUESTIONS*/
.block-questions {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-content: center;
    margin-top: 100px;
    margin-bottom: 100px;
    width: 1020px;
    margin-inline: auto;
    color: black;
    grid-gap: 30px;
}

.block-questions__header {
    font-size: 5.9em;
    grid-column: 1 / 3;
    color: #fbbe00;
    margin-inline: auto;
}

.block-questions__img {
    height: 100%;
    width: 99px;
    object-fit: contain;
}

.block-questions__img-wrapper {
    min-width: 130px;
    height: 87px;
}

.block-questions__content {
    display: flex;
    align-items: center;
    font-size: 2.1em;
    font-weight: bold;
}

.block-questions__button {
    width: 50%;
    margin-inline: auto;
    grid-column: 1 / 3;
    font-size: 2.9em;
    text-transform: uppercase;
}


/*MAIN*/
/*EXPECTATIONS*/
.block-expectations {
    background-color: #e8e8e8;
    position: relative;
}

.block-expectations__gradient {
    height: 100%;
    width: 50%;
    position: absolute;
    right: 0;
    background: linear-gradient(151deg, rgba(255, 255, 255, 0) 0%, #fff 100%);
}

.block-expectations__content {
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 1095px;
    margin-inline: auto;
    padding-bottom: 52px;
    justify-items: center;
    position: relative;
    column-gap: 135px;
    color: #322c41;
}

.block-expectations__header {
    font-size: 5.9em;
    margin-inline: auto;
    margin-top: 80px;
    grid-column: 1 / 3;
    text-align: center;
}

.block-expectations__text {
    font-size: 2.188em;
    color: black;
    margin-bottom: 40px;
}

.block-expectations__text span {
    font-size: 1.85em;
    font-weight: bold;
}

span.blue {
    color: #322c41;
}

span.orange {
    color: #fbbe00;
}

.block-expectations__img {
    height: 120px;
    margin-right: 40px;
}

.block-expectations__inner {
    display: flex;
    align-items: flex-end;
    justify-content: center;
    margin: 40px 0;
}

.block-expectations__dot-left li {
    list-style-type: none;
    margin-left: 3em;
    position: relative;
}

.block-expectations__dot-left li::before {
    content: "\2022";
    color: rgb(0, 89, 255);
    font-size: 100px;
    position: absolute;
    top: -53px;
    left: -60px;
}

.block-expectations__dot-right li {
    list-style-type: none;
    margin-left: 3em;
    position: relative;
}

.block-expectations__dot-right li::before {
    content: "\2022";
    color: #fbbe00;
    font-size: 100px;
    position: absolute;
    top: -53px;
    left: -60px;
}

.block-expectations__img1 {
    position: absolute;
    left: -230px;
    bottom: -50px;
    width: 269px;
    height: 141px;
}

.block-expectations__img2 {
    position: absolute;
    right: 100px;
    top: 100px;
}

.block-expectations__img3 {
    position: absolute;
    right: 100px;
    top: 100px;
}


/*KEYFRAMES*/
@keyframes myAnim {
    0% {
        transform: translate(0);
    }

    20% {
        transform: translate(-5px, 5px);
    }

    40% {
        transform: translate(-5px, -5px);
    }

    60% {
        transform: translate(5px, 5px);
    }

    80% {
        transform: translate(5px, -5px);
    }

    100% {
        transform: translate(0);
    }
}


/*MEDIA*/
/*1400*/
@media (min-width: 1400px) {
    body {
        font-size: 11px;
    }

    .block-participate__img3 {
        right: calc(20% * 5.3 - 727px);
        transition: 0.5s;
    }
}


/*MEDIA*/
/*1400*/
@media (max-width: 1400px) {
    .block-participate__img4 {
        left: -335px;
        transition: 0.5s;
    }

    .block-expectations__content {
        width: 1020px;
        transition: 0.5s;
    }
}


/*MEDIA*/
/*1200*/
@media (max-width: 1200px) {
    .block-participate__container {
        width: 85%;
        transition: 0.5s;
    }

    .block-questions {
        width: 85%;
        transition: 0.5s;
    }

    .block-expectations__content {
        width: 85%;
        transition: 0.5s;
    }

    .block-expectations__content {
        width: 85%;
        transition: 0.5s;
    }

    .header {
        width: 85%;
    }

    .block-participate__img3 {
        right: calc(20% * 5.3 - 668px);
        transition: 0.5s;
    }
}


/*MEDIA*/
/*992*/
@media (max-width: 992px) {
    .block-participate__container {
        font-size: 8px;
        transition: 0.5s;
    }

    .block-questions {
        font-size: 8px;
        transition: 0.5s;
    }

    .block-expectations {
        font-size: 8px;
        transition: 0.5s;
    }

    .block-participate__block-content {
        width: 424px;
        transition: 0.1s;
    }

    .header__link {
        font-size: 13px;
        transition: 0.5s;
    }

    .block-participate__img3 {
        right: calc(28% - 16px);
        transition: 0.5s;
    }

    .block-participate__img2 {
        right: calc(34% - 203px);
        transition: 0.5s;
    }
}


/*MEDIA*/
/*768*/
@media (max-width: 768px) {
    .header {
        width: 95%;
    }

    .block-questions {
        font-size: 7px;
        margin-top: 35px;
        margin-bottom: 30px;
        width: 85%;
        transition: 0.5s;
    }

    .block-expectations__content {
        grid-template-columns: 1fr;
    }

    .block-expectations__gradient {
        width: 100%;
        background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, #fff 100%);
    }

    .block-expectations__header {
        grid-column: 1;
    }

    .block-expectations__img {
        height: 100px;
        margin-right: 40px;
    }

    .block-participate__container {
        display: flex;
        justify-content: center;
    }

    .block-expectations__header {
        font-size: 5.1em;
    }

    .block-participate__date {
        top: 450px;
        font-size: 45px;
        right: calc(50% - 75px);
        transition: 0.5s;
    }

    .block-participate__block-content {
        align-items: center;
        text-align: center;
        display: flex;
    }

    .block-participate {
        height: 840px;
    }

    .block-participate__img {
        height: 840px;
    }

    .block-participate__button {
        margin-top: 400px;
        transition: 0.5s;
    }

    .block-questions__button {
        margin-top: 20px;
    }

    .block-participate__img2 {
        width: 180px;
        height: 180px;
        top: 530px;
        right: calc(50% - 17px);
        transition: 0.5s;
    }

    .block-participate__img3 {
        width: 50px;
        height: 50px;
        top: 350px;
        right: calc(50% - 146px);
        transition: 0.5s;
    }

    .block-participate__img4 {
        display: none;
    }

    .header__logo {
        margin: 0;
        transition: 0.5s;
    }
}


/*MEDIA*/
/*576*/
@media (max-width: 576px) {
    .header {
        display: none;
    }

    .block-participate__block-content {
        font-size: 6px;
        width: 80%;
    }

    .block-questions {
        margin-top: 35px;
        height: 100%;
        width: 80%;
    }

    .block-expectations {
        font-size: 0.8em;
    }

    .block-expectations__header {
        font-size: 2.95em;
    }

    .block-expectations__text span {
        font-size: 1.3em;
    }

    .block-questions__header {
        font-size: 3.4em;
    }

    .block-participate__button {
        margin-top: 410px;
        transition: 0.5s;
    }

    .block-questions__button {
        margin-top: 10px;
        transition: 0.5s;
        font-size: 2.5em;
        width: 70%;
    }

    .block-participate__date {
        top: 400px;
        font-size: 35px;
        right: calc(50% - 55px);
        transition: 0.5s;
    }

    .block-participate__img2 {
        top: 500px;
        right: calc(50% - 17px);
        transition: 0.5s;
    }

    .block-participate__img3 {
        top: 340px;
        right: calc(50% - 146px);
        transition: 0.5s;
    }

    .block-participate {
        height: 780px;
    }

    .block-participate__img {
        height: 780px;
    }

    .block-questions__content {
        grid-column: 1 / 3;
    }

    .block-questions__content_right {
        flex-direction: row-reverse;
    }
}
